body {
	margin: 0 auto;
	padding: 0;
	height: 100%;
	background: linear-gradient(left, #0087A9, #00A9AA, #0087A9);
	background: -webkit-linear-gradient(left, #0087A9, #00A9AA, #0087A9);
	background: -moz-linear-gradient(left, #0087A9, #00A9AA, #0087A9);
	color: #FEF8F7;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

#wrapper {
	min-height: 100%;
	position: relative;
}

#content {
	padding-bottom: 60px;
	max-width: 760px;
	text-align: left;
	margin: 0 auto;
}

header {
	text-align: center;
	margin-top: 5px;
}

table {
	margin: 0 auto;
	margin-bottom: -20px;
}

td {
	padding: 0 10px;
}

img {
	width: 110px;
	border-radius: 100px;
	border: 8px solid #36BBC2;
}

h1 {
	font-size: 40px;
	margin-top: -20px;
}

h2 {
	font-size: 19px;
	font-weight: 300;
}

p {
	font-size: 16px;
}

article p {
	line-height: 1.5;
}

article div {
	width: 80%;
	height: 1px;
	background-color: #007A82;
	margin: 0 auto;
	margin-bottom: -5px;
}

article {
	margin-top: 40px;
}

a {
	text-decoration: none;
	color: #FEF8F7;
	border-bottom: 1px dotted #00595E;
}

#footer {
	width: 100%;
	position: absolute;
	bottom: 0;
	text-align: right;
	margin-left: -20px;
}

#footer a {
	color: #00595E;
}